<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul id="list-of-messages" style="list-style-type:none">
        <li v-for="item in messages">
            [ {{ item.When }} ] <strong>{{ item.Name }}</strong>: {{ item.Message }}
        </li>
    </ul>

    <form id="userInput">
        {{username}}: <input type='text' v-model="message"></input>
        <button v-on:click.prevent="send">Send</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src=js/script1.js></script>

</body>

</html>